# Системные файлы macOS
.DS_Store
*~
*.swp

# Файлы редакторов
.idea/
.vscode/
*.lock

# Директории зависимостей
node_modules/
vendor/

# Лог-файлы и временные файлы
*.log
*.tmp

# Сборочные директории
dist/
build/

# Чувствительные данные
.env

